@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    background-image: repeating-linear-gradient(#0f1a15, #2E423A);
    width: 60%;
    margin: 100px auto;
    position: relative;
}

h1{
    font-family: DM-Sans;
    color: #e6e8e3;
}

p{
 font-family: Cormorant-Garamond;
 color: #9da79a;
}

div#about_me{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#studio_notes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#studio_notes p{
    
}

.music{

}
