#card {
    background-color: #008db1;
    border-radius: 20px;
    width: 400px;
    border: 1px solid #004e63;
    padding: 50px;
    margin: 0 auto;
}
h1{
    color: #fffffe;
    font: Helvetica;
    text-align: center;
}
img {
    width: 200px;
    text-align: center;
    display: block;
    margin: 0 auto;
}