img {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-size: 20px;
}

#love{
    border: 2px black solid;
    background-color: rgb(252, 144, 202);
    margin: 10px;
}

#heart{
    border: 2px black solid;
    background-color: rgb(214, 144, 252);
    margin: 10px;
}

#cupid{
    border: 2px black solid;
    background-color: rgb(252, 144, 202);
    margin: 10px;
}

h1{
    color:rgb(249, 0, 116);
    text-align: center;
    font-size: 50px;
}