img {
    width: 300px;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    border-radius: 20px;
}

#wrapper{
    background: rgb(255, 246, 246);
    margin: rgb(255, 246, 246);
    padding:  rgb(255, 246, 246);
}

ul {
    display: block;
    font-size: 20px;
    color: #7700ff;
    display: flex;
    list-style: none;
    background-color: rgb(255, 246, 246) ;
}

li{
    margin: 0 auto;
}
#love{
    border: 2px  rgb(255, 246, 246) solid;
    background-color: rgb(255, 185, 222);
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

#heart{
    border: 2px  rgb(255, 246, 246) solid;
    background-color: rgb(214, 185, 246);
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

#cupid{
    border: 2px  rgb(255, 246, 246) solid;
    background-color:  rgb(255, 185, 222);
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

h1{
    color:rgb(249, 0, 116);
    text-align: center;
    font-size: 50px;
}

